<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{post.text}}
    likes {{post.likes}}
    reposts {{post.reposts}}
    responses {{post.responses}}
    saves {{post.saves}}
    <form action="" method="POST">
        {% csrf_token %}
        {% if user is not None %}

            {% if user not in post.liked.all %}
                <button type="submit" class="button" name="Like">Like</button>
            {%elif user  in post.liked.all %}
                <button type="submit" class="button" name="Remove like">Remove like</button>
            {% endif %}

            {% if user not in post.reposted.all %}
                <button type="submit" class="button" name="Repost">Repost</button>
            {%elif user  in post.reposted.all %}
                <button type="submit" class="button" name="Remove repost">Remove repost</button>
            {% endif %}

            {% if user not in post.saved.all %}
                <button type="submit" class="button" name="Save">Save</button>
            {%elif user  in post.saved.all %}
                <button type="submit" class="button" name="Remove save">Remove save</button>
            {% endif %}
        {% endif %}
    </form>
</body>
</html>